<section class="demo-block video">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="header-block">{{header}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="video-container-{{id}}"></div>
        </div>
    </div>
</section>
<script type="text/javascript">
    jQuery(document).ready(function(){
        var url = "{{url}}",
            video = '',
            format = url.substring(url.lastIndexOf('.') + 1, url.length);
        
        if (format === 'mp4' || format === 'ogv'|| format === 'webm') {
            video = "<video width=' 100%' height='100%' controls><source src='" + url + "' type='video/" + (format === 'ogv' ? 'ogg' : format) + "'></source></video>";
        }

        jQuery(".video-container-{{id}}").append(video);
    });
</script>