<phpunit 
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    coverageHtml="out">
    <testsuites>
        <testsuite>
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./templates</directory>
            <exclude>
                <file>index.php</file>
            </exclude>            
        </whitelist>
    </filter>
<logging>
    <log type="coverage-html" target="phpunit/log/report" lowUpperBound="35" highLowerBound="70"/>
    <log type="junit" target="phpunit/log/results.xml" logIncompleteSkipped="false"/>
    <log type="testdox-html" target="phpunit/log/results.html"/>
    <log type="testdox-text" target="phpunit/log/results.txt"/>
</logging>	
</phpunit>
