---
title: A guide on creating custom themes
active_menu: A guide on creating custom themes
main_menu: user
---

<h3>Сontents</h3>
<ul>
	<li><a href="#preparation">Preparation</a></li>
    <li><a href="#blocks">How to create blocks in Qoob</a></li>
    <li><a href="#packs">Creating packs pictures</a></li>

</ul>

<h1 id="preparation">Preparation</h1> как расположить файлы, что скачать
<h1 id="blocks">How to create blocks in Qoob</h1> из чего состоит блок (config.json - замена URL) описать что делает каждый файл
<h1 id="blocks">Creating packs pictures</h1>
