---
title: Documenting
active_menu: Documenting
main_menu: dev
---

<h1>Documenting standarts</h1>
<h2>Summary for file</h2>
<pre><code class="php">/**
 * This file is part of the SmartBuilder package
 * 
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 * 
 * @author     webark.io &lt;info@webark.io&gt;
 * @link       http://builder.webark.io/
 * @copyright  2014-2015 Webark.io
 * @license    http://builder.webark.io/LISENCE
 */
</code></pre>
<h2>Summary for class</h2>
<pre><code class="php">/**
 * Row component for SmartBuilder
 *
 * Row component is a one of basic components.
 *
 * @package    SmartBuilder
 * @version    @package_version@
 */
</code></pre>
