---
title: Licenses for icons
active_menu: Licenses for icons
main_menu: dev
---

<p> <b>1. Entypo - www.entypo.com </b> - CC BY-SA 4.0</p>
<p> <b>2. Font Awesome - fontawesome.io </b>
Font Awesome is fully open source and is GPL friendly. You can use it for commercial projects, open source projects, or really just about whatever you want.
 <br><i>Font License</i>
 Applies to all desktop and webfont files in the following directory: font-awesome/fonts/.
 License: SIL OFL 1.1
 URL: <a href="http://scripts.sil.org/OFL">http://scripts.sil.org/OFL</a>
 <br><i>Code License</i>
Applies to all CSS and LESS files in the following directories: font-awesome/css/, font-awesome/less/, and font-awesome/scss/.
License: MIT License
URL: <a href="http://opensource.org/licenses/mit-license.html">http://opensource.org/licenses/mit-license.html</a>
 <br><i>Documentation License</i>
Applies to all Font Awesome project files that are not a part of the Font or Code licenses.
License: CC BY 3.0
URL: <a href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</a>
 <br><i>Brand Icons</i>
All brand icons are trademarks of their respective owners.
The use of these trademarks does not indicate endorsement of the trademark holder by Font Awesome, nor vice versa.</p>
<p> <b>3. Foundation Icon - zurb.com/playground/foundation-icon-fonts-3 </b>
Foundation Icons v 3.0</p>
<ul>
<li>Made by ZURB 2013 <a href="http://zurb.com/playground/foundation-icon-fonts-3">http://zurb.com/playground/foundation-icon-fonts-3</a></li>
<li>MIT License</li>
</ul>
<p><b>4. GLYPHICONS FREE - glyphicons.com </b>
Are released under the Creative Commons Attribution 3.0 Unported (CC BY 3.0). The GLYPHICONS FREE can be used both commercially and for personal use, but you must always add a link to GLYPHICONS.com in a prominent place (e.g. the footer of a website), include the CC-BY license and the reference to GLYPHICONS.com on every page using icons.</p>
<p><b>5.  Ionicons - ionicons.com - 100% free and open source. MIT Licensed. </b>
The MIT License (MIT)</p>
<p>Copyright (c) 2014 Drifty (<a href="http://drifty.com/">http://drifty.com/</a>)</p>
<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the &quot;Software&quot;), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>
<p>The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.</p>
<p>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
<p><b>6. Linecons — fontello.github.io </b>
Linecons is a set of remarkable free vector icons. The set contains 48 fully scalable vector icons with outline styles. You can use these icons when creating web and mobile interfaces. They will suit any site themes and any design.</p>
<p>Each icon is thoroughly pressed in its specific and new style. If you need professional pixel perfect icons, use Linecons – for free, even for commercial projects. Download our vector icons absolutely free and give your project a professional look.</p>
<p><b>7. Octicons - octicons.github.com </b>
When using the GitHub logos, be sure to follow the GitHub logo guidelines (<a href="https://github.com/logos">https://github.com/logos</a>)</p>
<p>Font License: SIL OFL 1.1 (<a href="http://scripts.sil.org/OFL">http://scripts.sil.org/OFL</a>)
Applies to all font files</p>
<p>Code License: MIT (<a href="http://choosealicense.com/licenses/mit/">http://choosealicense.com/licenses/mit/</a>)
Applies to all other files</p>
<p><b>8. OPEN ICONIC — useiconic.com </b>
The MIT License (MIT)</p>
<p>Copyright (c) 2014 Waybury</p>
<p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the &quot;Software&quot;), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>
<p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
<p>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
<p><b>9. SVG icons - svgicons.sparkk.fr </b>
All icon sets are from free Dribbble shots with the original link so you could download them.</p>
<p><b>10. Themify — themify.me </b>
LICENSE</p>
<ul>
<li>Themify Icons font licensed under: <a href="http://scripts.sil.org/OFL">http://scripts.sil.org/OFL</a></li>
<li>Code licensed under: <a href="http://opensource.org/licenses/mit-license.html">http://opensource.org/licenses/mit-license.html</a></li>
<li>All brand icons are copyright/trademarks of their respective owners.</li>
</ul>
