---
title: Coding Standarts
active_menu: Coding Standarts
main_menu: dev
---

<h1>Coding Standarts</h1>
<h2>Module names</h2>
<p>Module name should be lovercase without &quot;_&quot; symbols</p>
<table>
<thead>
<tr>
<th>Incorrect name</th>
<th>Correct name</th>
</tr>
</thead>
<tbody>
<tr>
<td>OpacitySliderField</td>
<td>opacitysliderfield</td>
</tr>
<tr>
<td>color_picker</td>
<td>colorpicker</td>
</tr>
</tbody>
</table>
<h2>Class names</h2>
<p>Last wordpress is supported PHP 5.2.4 
Do not use namespaces because they unsupported in PHP 5.2 </p>
<ul>
<li>All classes shold start with Prefix + Name. </li>
<li>Use <code>CamelCase</code> for name with Upercase first letter. </li>
<li>Filename should be the same as the ClassName+&quot;.class.php&quot;</li>
</ul>
<table>
<thead>
<tr>
<th>Prefixes</th>
<th>Module</th>
</tr>
</thead>
<tbody>
<tr>
<td>Smart</td>
<td>for core modules or non module classes</td>
</tr>
<tr>
<td>SmartComponent</td>
<td>for component modules</td>
</tr>
<tr>
<td>SmartAnimation</td>
<td>for animation modules</td>
</tr>
<tr>
<td>SmartField</td>
<td>for form fields modules</td>
</tr>
</tbody>
</table>
<p>Examples</p>
<pre><code class="php">//file row/include/SmartComponentRow.class.php
class SmartComponentRow extends SmartComponent {

}
</code></pre>
<h2>SmartField names</h2>
<p>All <code>SmartField</code> classes must consist of <code>SmartField</code>+<code>FieldType</code> in camel case</p>
<table>
<thead>
<tr>
<th>Incorrect name</th>
<th>Correct name</th>
</tr>
</thead>
<tbody>
<tr>
<td>OpacitySliderField</td>
<td>SmartFieldSlider</td>
</tr>
<tr>
<td>colorPicker</td>
<td>SmartFieldColor</td>
</tr>
<tr>
<td>imagePicker</td>
<td>SmartFieldImage</td>
</tr>
</tbody>
</table>
