---
title: Need Help ?
active_menu: Need Help ?
main_menu: user
---

<h1>Need Help ?</h1>
<p>You can contact us if you need help. We also welcome your feedback and suggestions. Please contact us through our profile`s page on <a href="http://codecanyon.net/user/webark">Themeforest</a> and we are happy to help.</p>

<p>We usually respond to all queries within 24 hours during weekdays. We are mostly not available during weekends and public holidays. We live across different timezones and have different people for answering different queries. So if we find us online responding to other comments and not yours please be patient with us.</p>

<p>Thank you,<br>
The WebArk Team</p>