---
title: WP installation
active_menu: WP installation
main_menu: user
---

<h1>WP installation</h1>
<ul>
	<li><a href="#installation">Plugin installation</a></li>
    <li><a href="#installationtheme">Theme installation</a></li>
    <li><a href="#options">Theme options</a></li>

</ul>

<h2 id="installation">Plugin installation</h2>
 <p>First of all you need to install the WordPress (For information in regard to installing the WordPress platform, please see the <a href="http://codex.wordpress.org/Installing_WordPress">WordPress Codex</a>). If you have already done it and have a new wordpress site, you can start to install Qoob plugin for WP. Qoob installation doesn't differ from any other plugin installation process, so you might be familiar with this process already. If not, please follow instructions below.</p>
<ol>
                <li>Download <strong>wp_qoob_1.0.1.zip</strong> plugin archive.</li>
                <li>Unzip plugin <strong>wp_qoob_1.0.1.zip</strong>. In the package you can see some folders, <strong>qoob_theme, wp_qoob, documentation</strong>.
                <li>Copy folder <strong>wp_qoob</strong> into <code>wp -> wp_content -> plugins</code></li>
                <li>Login to your wordpress website admin page.</li>
                <li>Go to <code>Plugins list</code></li>
                <li>Click on <code>Activate</code> link under <strong>qoob</strong> plugin.</li>
                </ol>
            Congratulations, you are all set! After that, you need install <strong>qoob_theme</strong>. See the next section.

<h2 id="installationtheme">Theme installation</h2>
<p>If you have already unzip plugin <strong>wp_qoob_1.0.1</strong>, continue step by step from step 3.</p>
<ol>
                <li>Download <strong> wp_qoob_1.0.1.zip</strong> plugin archive.</li>
                <li>Unzip plugin <strong>wp_qoob_1.0.1.zip</strong>. In the package you can see some folders, <strong>qoob_theme, wp_qoob, documentation</strong>.
                <li>Copy folder <strong>qoob_theme</strong> into <code>wp -> wp_content -> themes</code></li>
                <li>Login to your wordpress website admin page.</li>
                <li>Go to <code>Appearance -> Themes</code></li>
                <li>Click on <code>Activate</code> link under <strong>qoob.theme</strong>.</li>
                </ol>
            Congratulations, you are all set! To start creating visit <code>Pages -> Add new </code> and click on button <code>qoob</code>.

 <h2 id="options">Theme options</h2>
<ol>
                <li>Go to <code>Appearance -> Customize -> Site Identity</code></li>
                <li>On <code>Site Identity</code> tab upload your Site Title, Tagline, Site Icon.</li>
                </ol>
