---
title: Plugin Installation
active_menu: Plugin Installation
main_menu: user
---

<h1 id="plugin_instal">Plugin Installation</h1>
<p>Qoob installation doesn't differ from any other plugin installation process, so you might be familiar with this process already. If not, please follow instructions below.</p>
<ol>
<li>Download <b>Qoob plugin</b> archive</li>
<li>Unzip plugin <b>abuider</b> into <code>wp -> wp_content -> plugins</code></li>
<li>Login to your wordpress website <b>admin page</b></li>
<li>Go to <code>Plugins</code> list</li>
<li>Click <code>Activate</code> button on qoob plugin</li>
</ol>
<p>Congratulations, you are all set! To start creating visit <code>Pages->Add</code> new and switch over to the <b>Frontend Editor </b> mode.</p>
<p><h4 id="plagin_instal">How to Plugin Install?</p></h4>
<p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/1UuSqerQ7zU" frameborder="0" allowfullscreen></iframe></p>
