---
title: Theme Installation
active_menu: Theme Installation
main_menu: user
---

<h1 id="theme_instal">Theme Installation</h1>
<p>Pizza installation doesn't differ from any other theme installation process, so you might be familiar with this process already. If not, please follow instructions below.</p>
<ol>
	<li>Download <b>Pizza theme</b> archive</li>
	<li>Unzip theme Pizza into <code>wp → wp_content → themes</code></li>
	<li>Login to your wordpress website <b>admin page</b></li>
	<li>Go to <code>Appearance → Themes</code></li>
	<li>Click <b>Activate</b> button on Pizza theme</li>
</ol>
<p style="border:2px solid #00b532; text-align:center"><img src="img/activate.png" alt="" width="100%"></p>
<p>Or</p>
<ol>
	<li>Download <b>Pizza theme</b> archive</li>
	<li>Login to your wordpress website <b>admin page</b></li>
	<li>Go to <code>Appearance → Themes → Add new → Upload</code>, select zipped theme folder called <b>pizza.zip</b> and press <b>Install Now</b> button. The wordpress will do the rest for you.</li>
</ol>
<p style="border:2px solid #00b532; text-align:center"><img src="img/upload.png" alt="" width="100%"></p>