---
title: How to use
active_menu: How to use
main_menu: user
---

<h1>How to use</h1>
<ul>
	<li><a href="#structure">Qoob structure</a></li>
    <li><a href="#buttons">Control buttons</a></li>
    <li><a href="#sides">Sides of the qoob</a></li>
    <li><a href="#actions">Actions with blocks</a></li>
    	<ul>
    	<li><a href="#add">Add</a></li>
    	<li><a href="#edit">Edit</a></li>
    	<li><a href="#move">Delete / move blocks</a></li>
    	</ul>
    <li><a href="#media">Media center</a></li>
</ul>

<h2 id="structure">Qoob structure</h2>
<p>Qoob is the editor consisting of blocks. Work in Qoob simplifies the task of page creation.</p>
    <p><img src="img/builder.png"></p>
    <ol>
     <li>Go to <code>Page -> Add New</code></li>
     <li>Click on button <code>qoob</code></li>
    </ol>
     <p>A free website builder Qoob for WordPress will save you tons of time working on the site content. By using intuitive and handy UI you will save time and money and create new pages in minutes. No coding knowledge is required, every attribute is accessible from settings blocks. It’s a must have brag for any serious content publisher working with WordPress. Qoob so useful that you will start loving it from the very instance you start using them. Qoob is backend Page Builder Plugin for WordPress. Click block wherever you want and drag it wherever you want. You can easily watch how your project will look for users, with no page reloads, no extra bars or wait time.</p>
<h2 id="buttons">Control buttons</h2>
    <p><img src="img/control.png"></p>
<h2 id="sides">Sides of the qoob</h2>
	<p><img src="img/sides.png"></p>
<h2 id="actions">Actions with blocks</h2>
<h3 id="add">Add</h3>
    <p>There are several ways for adding the block in qoob. </p>
     <ol>
     	<li>To add a block in the page, please, <code>click</code> on the block.</li> 
         <p><img src="img/press.png"></p>
          <p>Each new block is added to the end of the page, under the blocks that were added earlier. After that you can add blocks by <code>dragging</code>. </p>
         <li>You find a block in the group and <code>move</code> it to the necessary place. This place will be highlighted as it is shown here.</li>
            <p><img src="img/drag.png"></p>
            </ol>
 <h3 id="edit">Edit</h3>
        <p>You can edit information in each block of the page. For this purpose<code> click</code> the necessary block on the right of the page. In the left you can see settings of this block.</p>
        <p><img src="img/edit.png"></p>
<h3 id="move">Delete / move blocks</h3>
            <ol>
     		<li><code>Click</code> the necessary block</li>
            <li>By pressing the <code>Delete / Move</code> button in the left bottom corner of settings you can change the view of the blocks in the page.</li>
            </ol>
            <p><img src="img/delete.png"></p>

<h2 id="media">Media center</h2>
     <ol>
     	<li><code>Click</code> the necessary block.</li>
         <li>In the settings <code>click</code> the image, video or icon.</li>
         <p><img src="img/center.png"></p>
          <p>You can easily watch how your project will look for users on the right side.</p>