---
title: Actions
active_menu: Actions
main_menu: user
---

<h1>Actions</h1>
<table>
<thead>
<tr>
<th>View</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
	<td style="width:100px; text-align:center"><img src="img/pc_hover.png" alt="" width="30%"></td>
	<td class="col2">PC view</td>
</tr>
<tr>
	<td style="width:100px; text-align:center"><img src="img/tablet_vertical_hover.png" alt="" width="25%"></td>
	<td class="col2">Tablet vertical view</td>
</tr>
<tr>
	<td style="width:100px; text-align:center"><img src="img/phone_vertical_hover.png" alt="" width="15%"></td>
	<td class="col2">Phone vertical view</td>
</tr>
<tr>
	<td style="width:100px; text-align:center"><img src="img/tablet_horizontal_hover.png" alt="" width="30%"></td>
	<td class="col2">Tablet horizontal view</td>
</tr>
<tr>
	<td style="width:100px; text-align:center"><img src="img/phone_horizontal_hover.png" alt="" width="30%"></td>
	<td class="col2">Phone horizontal view</td>
</tr>
<tr>
	<td style="width:100px; text-align:center"><img src="img/exit_hover.png" alt="" width="17%"></td>
	<td class="col2">Exit to WP</td>
</tr>
<tr>
	<td style="width:100px; text-align:center"><img src="img/arrow_hover.png" alt="" width="30%"></td>
	<td class="col2">View without editor</td>
</tr>
</tbody>
</table>
<h2><p>Add block</p></h2>
<p>Find the necessary block in the left side menu <b>Content Sestion</b> and move it to the desired location on the page. Then you will see how the block was added on the page. Each new block can be added at any desired location (at the top, at the bottom, at the centre).</p>

<p><h3 id="add_block">How to Add block?</p></h3>
<p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/JeD8-F12e5s" frameborder="0" allowfullscreen></iframe></iframe></p>

<h2><p>Edit block</p></h2>
<p>You can <code>Edit</code> \ <code>Add new</code> information in each block on the page. For this purpose press the <code>Edit</code> <img src="img/pencil.png" alt="" style="border:3px solid #C9C9C9; border-radius: 15px; background-color:#C9C9C9; text-align:center; padding:5px;"> button in the right top corner of a block.</p>
<p><h3 id="edit_block">How to Edit block?</p></h3>
<p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ad2ZDdFiNGs" frameborder="0" allowfullscreen></iframe>

<h2><p>Delete block</p></h2>
<p>By pressing the <code>Delete</code> <img src="img/cross.png" alt="" style="border:3px solid #D61616; border-radius: 15px; background-color:#D61616; text-align:center; padding:5px;"> button in the right top corner of a block you can remove the block from the page.</p>
<p><h3 id="delete_block">How to Delete block?</p></h3>
<p align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/u40GN9HBh9Q" frameborder="0" allowfullscreen></iframe>


