---
title: About the Theme
active_menu: About the Theme
main_menu: user
---

<h1>About the Theme</h1>

<p>Pizza is a fully responsive and easy-to-use parallax Restaurant/Food Delivery/Pizzeria WordPress theme. It has included a variety of layouts which makes it a powerful template. It is the perfect theme to show amazing food photography. Pizza comes with very nice and friendly design. This means that users can conveniently browse through your site no matter what device they use.</p> 
<p>Theme has modern and timeless design with many options to customize final look of the website. Pizza can be customized to your specific needs with incredible ease. Page Builder, you can manage page’s elements via our drag drop tools. You can change almost every element via admin panel.</p>