---
title: FAQ
active_menu: FAQ
main_menu: user
---

<h1>FAQ</h1>
<ul>
    <li><a href="user-theme-installation.html#theme_instal">How to Theme Install?</a></li>
    <li><a href="user-plugin-installation.html#plagin_instal">How to Plugin Install?</a></li>
    <li><a href="user-demo.html#animation">How to Import demo content from Pizza?</a></li>
	<li><a href="user-actions.html#add_block">How to Add block?</a></li>
    <li><a href="user-actions.html#edit_block">How to Edit block?</a></li>
    <li><a href="user-actions.html#delete_block">How to Delete block?</a></li>

</ul>
