---
title: Demo content & Pre-Built Pages
active_menu: Demo content & Pre-Built Pages
main_menu: user
---

<h1 id="demo">Demo content & Pre-Built Pages</h1>
<p>We make it easy for you to import your demo content from Pizza. Follow the instructions.</p>
<ol>
<li>Login to your wordpress website <b>admin page</b></li>
<li>Go to <code>Tools → Import</code></li>
<li>Click on <b>Wordpress Import</b></li>
<li>Install the Wordpress Import plugin</li>
<li>Сhoose the <b>data/wordpress.xml file</b></li>
<li>Сlick on <b>Upload file and import</b></li>
<li>Add the <b>Authors</b> and check the <b>Download and import file attachments</b>. Don't close the setting page until the importer has finished. A progress bar will indicate that your WordPress content is importing. A Success message will appear once the import is complete.</li> 
<li>Go to <code>Settings → Permalinks</code> and choose the <b>Post name</b></li>
</ol>
<p style="border:2px solid #00b532; text-align:center"><img src="img/import.png" alt="" width="100%"></p>