<div class="demo-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="header-block">{{title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    {{{text}}}
                </p>
            </div>
        </div>
    </div>
</div>