<div class="demo-block">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="header-block">{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    {{{text}}}
                </p>
            </div>
        </div>
    </div>
</div>