<div class="demo-block">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>
                    {{{text_col_1}}}
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    {{{text_col_2}}}
                </p>
            </div>
            <div class="col-lg-4">
                <p>
                    {{{text_col_3}}}
                </p>
            </div>
        </div>
    </div>
</div>