/* font-family: "OpenSans-Light"; */
@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: "OpenSans-Bold"; */
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold/OpenSans-Bold-webfont.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*COMMON STYLES*/
body {
    font-family: "OpenSans-Light",sans-serif;
    font-size: 18px;
    line-height: 2;
    text-align: justify;
}

h1 {
  font-family: "OpenSans-Bold",sans-serif;
}
.content img{
  border:1px solid #000; 

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.navbar-brand{
  height: 80px;
  line-height: 45px;
}
/* MARKETING CONTENT
-------------------------------------------------- */
#main_carousel {
  margin-top: -20px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* Menu
------------------------- */

.menu_list {
  padding-left: 0;
}
.menu_list li {
  list-style-type: none;
}
.menu_list li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-family: "OpenSans-Light", Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
}
.list-group-item {
  padding: 0;
}
.children .list-group-item {
  border-radius: 0;
}
.children li {
  border-left:none;
  border-right: none;
  border-bottom: none;
}
.menu_list li a:hover, .menu_list li a.active {
  background: #0084ff;
  color: #fff;
  cursor: pointer;
}
.menu_list .current-cat-parent > a,
.menu_list .current-cat > a,
.menu_list .active > a {
  background: #0084ff;
  color: #fff;
}
.menu_list li ul {
  padding-left: 0;
  display: none; /*// used to hide sub-menus*/
}
.menu_list li ul.active {
  display: block
}
.menu_list li ul li a {
  background: #ececec;
  padding-left: 25px;
}
.menu_list > li:first-child > a {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.menu_list > li:last-child.current-cat-parent > a,
.menu_list > li:last-child.active > a  {
  border-radius: 0;
}
.menu_list > li:last-child > a,
.menu_list > li:last-child.current-cat-parent ul li:last-child > a,
.menu_list > li:last-child.current-cat-parent ul li:last-child > a::hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
li.has_children>a::after{
  content:"+";
  position: absolute; /*to prevent it picking up the height of the <a> that is before it*/
  margin-left: 5px; /*now it's absolutely positioned, we need to add suitable margins (not padding which would change its shape)*/
}
li.has_children.active>a::after {
  content:'-';
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  border: 1px solid #ddd;
}

/*User Manual*/
table {
  width: 100%;  /*Ширина таблицы в процентах*/
  /*border-color: black;*/
  background: #eaebec;
  border: #ccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
}
table th {
  padding:21px 25px 22px 25px;
  border-left: 1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table td {
  padding:18px;
  border-top: 1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.tabmain{
  width: 100%; /* Ширина ячейки */
  border-color: #ffffff;
}
table.tabmain td {
  
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #fff));
  background: -webkit-linear-gradient(center top, #fff 0%, #fff 50%);
  background: -moz-linear-gradient(center top, #fff 0%, #fff 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  background: linear-gradient(to bottom, #fff 0%, #fff 50%);
}
.col1 {
  width: 150px; /* Ширина ячейки */
  padding: 8px;
  font-weight:bold;
}
.col2 {
  padding: 8px;
}
pre {
    padding: 0;
}
element.style {
}

a {
    color: #0084ff;
    }

.navbar-brand {

    float: right;
    font-family: "OpenSans",sans-serif;
    font-size: 38px;
    letter-spacing: 2px;
    padding-left: 22px;
  }
.navbar-logo img {
    margin-top: 15px;
}
.navbar-header img {
    margin-top: 15px;
}
.navbar-default {
    background-color: #a3a4a6;
  }
  .navbar-default .navbar-brand {
    color: #fff;
  }
  .navbar-default .navbar-brand:hover{
    color: #fff;
  }
  .btn-info,.btn-info:hover,.btn-info:active:focus,.btn-info:active:hover {
    background-color: #0084ff;
  }
