<section class="demo-block demo-iconbox-block">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="header-block">{{header}}</h2>
		</div>
	</div>
	<div class="row">
	  {{#if iconbox.length}}
		{{#each_with_sort iconbox "order"}}
			<div class="col-lg-4 col-sm-4 icon-box-wrap">
				{{#if icon}}
					<span class="{{icon}} icon"></span>
				{{/if}}
				{{#if title}}
					<h5>{{title}}</h5>
				{{/if}}
				{{#if text}}
					{{{text}}}
				{{/if}}
			</div>
			{{#ifIsNthItem nth=3}} <div class="clearfix"></div> {{/ifIsNthItem}}
		{{/each_with_sort}}
      {{/if}}
      </div>
</section>