#wpadminbar .qoob-inline-link .ab-item:before {
    content: '';
    height: 18px;
    width: 18px;
    margin-top: 8px;
    padding: 0;
    background-image: url(../img/qoob_logo_admin_bar.png) !important;
}

html.active-js {
    margin-top: 0 !important;
}
