<section class="text-image-right">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{header}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{#if image}}
                    <div class="center-img">
                        <img src="{{image}}" alt="" class="alignright">
                    </div>                
                {{/if}}
                {{{text}}}
            </div>
        </div>
</section>