<section class="demo-block">
        <div class="row">
            <div class="col-lg-12">
                <h2>{{header}}</h2>
            </div>
            <div class="col-lg-12">
                {{{text}}}
            </div>
            <div class="col-lg-12 text-center">
                <a href="{{action_url}}" class="btn btn-action">{{action_text}}</a>
            </div>
        </div>
</section>