<div class="demo-block">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="header-block">{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <blockquote>
                    <p>
                        {{{text}}}
                    </p>
                </blockquote>
                <p><cite>{{{cite}}}</cite></p>
            </div>
        </div>
</div>