@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url('phpdocumentor-clean-icons/style.css');

body {
    padding-top:      40px;
    background-color: #333333;
}

.extend_text{
    /*letter-spacing: 1px;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-variant: small-caps;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    color: silver;
}
.name_parent {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-inner {
    min-height: inherit;
}

a,a:hover {
    color: #6495ed;
}
a.anchor {
    height: 40px;
    margin-top: -40px;
    display: block;
}

/*.collapse.in {
    height: auto!important;
} */

p {
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6, .brand {
    font-family:    'Impact', sans-serif;
    font-weight:    normal;
}

h2, h4,h3, .detailsbar h1 {
    overflow:    hidden;
    white-space: nowrap;
    margin:      10px 0 0 0;
}

hr {
    border-color: #ccc;
    border-bottom: none;
    margin: 10px 0;
}
h4,h3 {
    margin: 10px 0 20px 0;
}
h4,h5 {
    color:     gray;

}
h4 {
    margin:    10px 0 10px 0;
    font-size: 18.5px;
}

.public, .protected, .private {
    padding-left: 0px;
    text-overflow: ellipsis;
}

.table tr:first-of-type th, .table tr:first-of-type td {
    border-top: none;
}
/*.detailsbar {
    color:            #595959;
    background-color: #fff;
    font-size:        0.9em;
    overflow:         hidden;
    border:1px solid #ccc;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}*/
.details_bar {

}
.details_bar span,.details_bar a,.namespace-wrapper {
    display: inline-block;
}

.table {
    margin-bottom: 0;
}

.detailsbar h1 {
    font-size:     1.5em;
    margin-bottom: 20px;
    margin-top:    0;
}

.detailsbar h2 {
    font-size: 1.2em;
    margin:    0;
    padding:   0;
}

.detailsbar h1:after {
    background: gray;
}
.detailsbar h2:after, .detailsbar h3:after {
    background: transparent;
}
.row-fluid {
    background-color: white;
    overflow:         hidden;
}

.footer-sections .span6 {
    border:        2px solid #555;
    text-align:    center;
    border-radius: 10px;
    margin-top:    70px;
    margin-bottom: 20px;
    background:    #373737;
}

.footer-sections .span6 h1 {
    background: transparent;
    margin-top: -30px;
    margin-bottom: 20px;
    font-size:  5em;
}

.footer-sections .span6 h1 * {
    background: transparent;
}

.footer-sections .span6 div {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 10px;
    min-height: 40px;
}
.footer-sections .span6 div, .footer-sections .span6 div * {
    background-color: #555;
}
.footer-sections .span6 ul {
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content {
    background-color: white;
    padding-right:    20px;
}

.content nav {
    text-align:     center;
    border-bottom:  1px solid silver;
    margin:         5px 0 20px 0;
    padding-bottom: 5px;
}

.content > h1 small {
    display:        block;
    padding-bottom: 8px;
    font-size:      0.6em;
}

.deprecated {
    text-decoration: line-through;
}

.method {
    margin-bottom: 20px;
}

.method .signature .argument {
    color:       maroon;
    font-weight: bold;
}

.class #summary section.row-fluid {
    overflow: hidden
}

.class #summary .heading {
    font-weight: bold;
    text-align:  left;
}

.class #summary section .span4 {
    padding:        3px;
    overflow:       hidden;
    margin-bottom:  -9999px;
    padding-bottom: 9999px;
    white-space:    nowrap;
    text-overflow:  ellipsis;
    border-left:    5px solid transparent;
}

.class #summary section .span4:first-of-type,
.class #summary section .span6:first-of-type {
    padding-left: 0;
}
.class #summary section .span4:first-of-type:before,
.class #summary section .span6:first-of-type:before {
    margin-left: -21px;
}
.class #summary section em {
    font-size: 0.9em;
    color: silver;
}
.class #summary .inherited {
    color:      gray;
    font-style: italic;
}

.accordion-group {
    border: none;
}

.accordion {
    margin-bottom: 0;
}

.accordion a:hover {
    text-decoration: none;
    background:      #333333;
    color:           #eeeeee;
}

.accordion-heading .accordion-toggle:before {
    content:      "\f078";
    font-family:  FontAwesome;
    margin-right: 5px;
}

.accordion-heading .accordion-toggle.collapsed:before {
    content: "\f054";
}
.accordion-heading .accordion-toggle {
    float: left;
    width: 16px;
    height: 16px;
    padding: 4px 2px 4px 12px;
}
.accordion-heading a {
    display: block;
    padding: 4px 12px;
}

.accordion-inner a {
    display: block;
    padding: 0 5px;
}

.accordion-inner > ul a:before {
    font-family: 'phpdocumentor-clean-icons';
    content:      "\e001";
    margin-right: 5px;
}

.accordion-inner li.class a:before {
    content:      "\e002";
}

.accordion-inner li.interface a:before {
    content:      "\e001";
}

.accordion-inner li.trait a:before {
    content:      "\e000";
}

.accordion-inner {
    padding: 6px 1px 6px 10px;
}

.accordion-heading {
    padding: 4px 12px;
}

.accordion-heading input {
    width: 99%;
}
.accordion-inner ul {
    list-style: none;
    padding:    0;
    margin:     0;
}

.row-fluid .span2 {
    width: 16.5%;
}

body .modal {
    width: 90%; /* desired relative width */
    left: 5%; /* (100%-width)/2 */
    /* place center */
    margin-left:auto;
    margin-right:auto;
}

.side-nav.nav-list li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container-fluid {
    padding-right: 0;
}

.main_label {
    margin-top: 10px;
}
@media (min-width: 992px) {
    .sidebar {
        position:         fixed;
        top:              40px;
        bottom:           0;
        background-color: #f3f3f3;
        left:             0;
        border-right:     1px solid #e9e9e9;
        overflow-y:       scroll;
        overflow-x:       hidden;
        padding-top:      10px;
    }

    .sidebar::-webkit-scrollbar {
        width: 10px;
    }

    .sidebar::-webkit-scrollbar-thumb {
        background:      #cccccc;
        background-clip: padding-box;
        border:          3px solid #f3f3f3;
        border-radius:   5px;
    }

    .sidebar::-webkit-scrollbar-button {
        display: none;
    }

    .sidebar::-webkit-scrollbar-track {
        background: #f3f3f3;
    }
}
@media (max-width: 979px) and (min-width: 768px) {
    .row-fluid .offset2:first-child {
        margin-left: 0;
        padding-left: 20px;
    }
    .row-fluid .span10 {
        width: 100%;
    }
}


@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}
@media (max-width: 768px) {
    body {
        padding: 0;
    }
    .navbar-fixed-top {
        padding-left: 20px;
        /*padding-right: 0;*/
        margin-right: 0
    }
    .content {
        padding: 0 20px;
    } 
}
@media (max-width: 992px) {
    .span2.sidebar {
        display: none;
    }
    .content {
        margin-left: 20px;
    } 
    .container-fluid {
        padding: 0;
    }
    
    .class #summary .heading {
        display: none;
    }

    .detailsbar h1 {
        display: none;
    }

    body {
        background-color: white;
    }

    footer.row-fluid, footer.row-fluid * {
        background-color: white;
    }

    .footer-sections .span4 h1 {
        color: #ccccd9;
        margin-top: 0;
    }

    .detailsbar {
        background-color: white;
        color: #333;
        border: none;
    }

    .row-fluid .span2 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .row-fluid .span2 {
        width: 16.5%;
    }
}

.before_label {
    /*float: left;*/
    margin-top: 0;
}

pre {
    margin-top: 15px;
    padding: 0;
}
dl {
    margin-bottom: 15px;
}

.return p {
    display: inline-block;
    margin: 0;
}
.content.class .label {
    float: left;
    margin-right: 10px;
    margin-top: 12px;
}
.parameters p {
    display: inline-block;
    margin: 0;
}

.modal-body {
    padding: 0 15px;
    margin: 15px 0;
}